@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nova+Square&family=Righteous&family=Roboto:wght@300;500;700&family=Tektur:wdth,wght@75..100,400..900&display=swap');

:root {
    --light_text: #6c6b6b;
    --backgroud_color: #E9DEBE;
    --max-width: 600px;
}

body {
    background-image: url('../images/texture.png');
    background-color: var(--backgroud_color);
    background-attachment: fixed;

    /* CSS Layout */
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* This div contains the 3 sections: banner, articles, footer */
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    padding: 1rem;
}

/* BANNER SECTION *************************************************************************************************** */

/* Profile Picture */
#profile_pic {
    border-radius: 50%;
    height: 8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 10px double #000;
}

/* Banner Section Title */
#banner h1 {
    font-family: "Tektur", sans-serif;
    font-variation-settings: "wdth" 100;
    color: black;

}

/* Banner section contains Profile_Pic and Title, Sub-Title */
#banner {
    /* font-family: "Josefin Sans", sans-serif; */
    /* font-family: "Nova Square", sans-serif;  */
    /* font-family: "Amatic SC", sans-serif; */
    font-family: "Tektur", sans-serif;
    font-variation-settings: "wdth" 90;
    font-weight: 100;
    color: var(--light_text);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 80%;
    max-width: var(--max-width);
    padding: 1rem;
    margin-top: 50%;  /* Ensure the banner always starts from center, even when there's more content */
}

/* ARTICLE SECTION ****************************************************************************************************/
#articles {
    font-family: "Amatic SC", sans-serif;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: var(--max-width);
    padding: 1rem;
}

/* Article Element */
article {
    padding: 5%;
}

/* Contains the article title and date */
article header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

/* Titles */
article header .article_title {
    padding-right: 10%;
    text-decoration: none;
    color: black;
}

/* Dates */
article header .date {
    color: #666;
    align-self: center;
    white-space: nowrap;
}

/* Article Description */
article .article_desc {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}

/* Article Description Ream More link */
article .article_desc .read_more {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--light_text); /* Underline color should be ligter than text color */
    text-underline-offset: 3px; /* vertical offset so it doesn't touch text */
    color: var(--light_text);
}

/* Hover effect for articles */
article:hover{
    box-shadow:0px 0px 2px 0px #000;
}

/* Hover effect for article titles */
article header .article_title:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--light_text); /* Underline color should be ligter than text color */
    text-underline-offset: 3px; /* vertical offset so it doesn't touch text */
    color: var(--light_text);    
}

/* Hover effect for article "read more"s */
article .article_desc .read_more:hover {
    text-decoration: none;
}


/* FOOTER SECTION *****************************************************************************************************/
#footer {
    font-family: "Nova Square", sans-serif;
    color: var(--light_text);
    margin-top: 50%;

    /* css layout */
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: var(--max-width);
    padding: 1rem;
}

#footer a {
    color: var(--light_text);
}

#footer .footer-icons {
    display: flex;
    gap: 25%;
}